<form action="/create" method="post">
    <h2>Create Page</h2>
    <div class="input-field">
        <input type="text" name="enWord">
        <label>English Word</label>
    </div>
    <button type="submit" class="btn">Create</button>
</form>
